


.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}


#mapid {
  height: 400px;
}

.mainContent{
		text-align:center;


	}

.modal-header{
	text-align:center;
  margin: 0 auto;

	}
